deemix
fairseq
faiss-cpu
ffmpeg-python
gradio
lib
librosa
numpy
audio-separator[gpu]==0.17.5
scipy
yt_dlp
onnxruntime_gpu
praat-parselmouth
pedalboard
pydub
pyworld
Requests
scipy
soundfile=
--find-links https://download.pytorch.org/whl/torch_stable.html
torch
torchcrepe
tqdm
yt_dlp
sox
torchfcpe
local_attention
faiss
ffmpeg
av
